.login-bg-container{
    background-image: url("../images/960x0.jpg") ;
    background-size: cover;
    background-position: center;
    height: 65vh;

}

.login-form{
    width: 90%;
    margin: 20px auto ;
}