.signup-bg-container{
    background-image: url("../images/7_Top_Technical_Skills_to_Master_in_2021.avif") ;
    background-size: cover;
    background-position: center;
    height: 65vh;

}

.signup-form{
    width: 90%;
    margin: 20px auto ;
}